<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wallpaperbackgrapp">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.wall.Theme6"></activity>
        <activity android:name="com.example.wall.Theme5" />
        <activity android:name="com.example.wall.Theme4" />
        <activity android:name="com.example.wall.Theme3" />
        <activity android:name="com.example.wall.Theme2" />
        <activity android:name="com.example.wall.Theme1" />
        <activity android:name="com.example.wall.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>